<div class="row">
    <div class="col-sm-12">
        <div class="header">
            Login to your account
        </div>
    </div>
</div>

<div class="mt-5">
    <h2>Login</h2>
</div>

<form name="form" #f="ngForm" autocomplete="off">
    <div class="my-4">

        <div class="form-container">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Email address" type="email"
                [(ngModel)]="user!.email"
                name="examTypeName" #examTypeName="ngModel" required>
                <mat-error *ngIf="true"></mat-error>
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field appearance="fill">
                <input type="password" matInput placeholder="Password"
                [(ngModel)]="user!.userPassword"
                name="userPassword" #userPassword="ngModel" required>
                <mat-error *ngIf="true"></mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <div>
           Login to a Marks and Spencer's rate range game app.
        </div>
    </div>
</form>

<div class="form-container m-4">
    <button class="btn-filled" (click)="loginUser()" [disabled]="f.form.invalid">Login</button>
</div>