<!-- <div class="row">
    <div class="col-sm-12">
        <div class="logo">
            <img src="assets/img/game/rate-the-change.svg" alt="rate-the-change">
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="font-16 game-title">
            <h1 class="">My Profile</h1>
            <!-- <p class="m-0">you'd like to rate below</p> -->
        </div>
    </div>
</div>

<div>
    <div class="card mb-2" style="width: 100%;
    background-color: rgba(157, 207, 167, 0.3);">
        <div class="card-body">
            <div style="display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;">
                <h5 class="card-title">Your profile</h5>
                <img src="assets/img/game/edit.svg" class="pr-2" alt="email">
            </div>
            <h6 class="card-subtitle mb-2 text-center">Hi Jack Reeves</h6>

            <div class="d-flex justify-content-around align-items-center">
                <div class="d-flex justify-content-around align-items-center"
                    style="background-color: #4E4E4E; width: 64px;
                    height: 64px;
                    border: 1px solid black;
                    border-radius: 50%;">
                    <!-- <img src="assets/img/game/hanger.svg" alt="game"> -->
                </div>
            </div>

            <div>
                <img src="assets/img/game/email.svg" class="pr-2" alt="email">
                <span style="margin: 8px">jack.reeves@marks-and-spencer.com</span>
            </div>
            <div style="margin-top: 10px;">
                <img src="assets/img/game/location.svg" class="pr-2" alt="email">
                <span style="margin: 8px">Waterside</span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card mb-2" style="width: 100%;
    background-color:rgba(245, 242, 255, 1)">
        <div class="card-body">
            <div style="display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;">
                <h5 class="card-title">Your monthly position</h5>
                <!-- <img src="assets/img/game/edit.svg" class="pr-2" alt="email"> -->
            </div>
            <h1 class="">#34</h1>
        </div>
    </div>
</div>


<!-- <div>
    <div class="card" style="width: 100%;
    background-color:rgba(148, 92, 125, 0.38);">
        <div class="card-body">
            <div style="display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;">
                <h5 class="card-title">Your categories</h5>
                <img src="assets/img/game/edit.svg" class="pr-2" alt="edit">
            </div>
     
            <div class="row">
                <div class="col-sm-12" style="padding: 0 3rem">
                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <div class="circle-div d-flex justify-content-around align-items-center" (click)="selectBU('womenswear')"
                            [class.bu-selected]="this.selectedBUs.includes('womenswear')">
                            <img src="assets/img/game/hanger.svg" alt="game"
                            style="position: relative; left: 0px;">
                            <span style="position: absolute; top: 120px;">Womenswear</span>
                        </div>
                        <div class="circle-div d-flex justify-content-around align-items-center"
                            [class.bu-selected]="this.selectedBUs.includes('menswear')">
                            <img src="assets/img/game/hanger.svg" alt="game" (click)="selectBU('menswear')"
                            style="position: relative; left: 0px;">
                            <span style="position: absolute; top: 120px;">Menswear</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="circle-div d-flex justify-content-around align-items-center"
                            [class.bu-selected]="this.selectedBUs.includes('kidswear')">
                            <img src="assets/img/game/hanger.svg" alt="game" (click)="selectBU('kidswear')"
                            style="position: relative; left: 38px;">
                            <span style="position: relative; top: 42px; right: 16px;">Kidsswear</span>
                        </div>
                        <div class="circle-div d-flex justify-content-around align-items-center"
                            [class.bu-selected]="this.selectedBUs.includes('lingerie')">
                            <img src="assets/img/game/hanger.svg" alt="game" (click)="selectBU('lingerie')"
                            style="position: relative; left: 30px;">
                            <span style="position: relative; top: 42px; right: 16px;">Lingerie</span>
                        </div>
                    </div>
                </div>
            
                <div class="d-flex justify-content-around align-items-center mt-4">
                    <button class="btn-play" (click)="playGame()">play</button>
                </div>
            </div>

        </div>
    </div>
</div> -->
